@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans&display=swap');



body {
    background: url('/images/texture.png');
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Open Sans', sans-serif;

    background-color: #282a36 ;

}

#btn-nav {
    font-family: 'Inconsolata', monospace;

    background-color: #fff;
    margin-left: auto;

}

button i {
    color: pink;
    font-size: 1.5rem;
}

button span {
    font-size: 0.7rem;
}