@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans&display=swap');

:root {
    --main-bg-img: url('images/texture.png');
    --main-bg-color: #282a36;
    --main-link-color: #ff79c6 ;
    --main-font: 'Inconsolata', monospace;
    --secondary-font: "Open Sans", sans-serif;
}

body {

    font-family: var(--main-font);
    background-color: var(--main-bg-color) ;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}

/* -------------------------------------------------------------
    my universal styles
   -------------------------------------------------------------
*/


.hero-bg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-theme{
    background-color: #282a36; 
    background-image: var(--main-bg-img);
}
.banner-large{
    min-height: 880px;
}
.op-sans {
    font-family: var(--secondary-font);
}

.pink {
    color: var(--main-link-color);
}

.img-fluid {
    max-width: 100%;
    height: auto;
    z-index: 2;
}

/* -------------------------------------------------------------
    Header + Nav
   -------------------------------------------------------------
*/

.header .btn {
    font-size: 12px;
}

/* -------------------------------------------------------------
    Hero section
   -------------------------------------------------------------
*/
div.jumbotron.bg-transparent {
    position: relative;
}
div.jumbotron {
    margin-bottom: 0;
}
div.jumbotron h2 {
    font-size: 28px;
    font-weight: 600;
}
div.jumbotron h6 {
    font-size: 16px;
    font-weight: 300;
}
div.jumbotron h2 span.purple {
    color:#6272a4 ;
}
div.jumbotron h2 span.pink {
    color:var(--main-link-color) ;
}
div.jumbotron .image {
    padding-top: 60px;
}
div.jumbotron .img-fluid {
    z-index: 2;
}

div.wave {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    z-index: -1;
}

svg:not(:root){
    overflow: hidden;
}


/* -------------------------------------------------------------
    About section
   -------------------------------------------------------------
*/

.about{
    padding-top: 100px;
    padding-bottom: 100px;
}

.about h2 {
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.2;
}

.about .lead {
    font-size: 16px;
    line-height: 28px;
}

.about .btn {
    border: 2px solid #282a36;
    padding: 16px 25px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all 0.3s ease;
}
.about .btn:hover {
    background-color: #000 !important;
    color: #fff;
    transform: translateY(-5px);
    box-shadow: 0 3px 1px 1px rgba(204, 204, 204, 0.493); 
}
/* -------------------------------------------------------------
    App Download Section
   -------------------------------------------------------------
*/

.app-download {
    padding-top: 100px;
    padding-bottom: 100px;
}

.app-download a.btn {
    background-color: var(--main-link-color);
    padding: 16px 25px;
    border: 1px solid #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    min-width: 180px;
    transition: all 0.3s ease;
}

.app-download a.btn:hover{
    background-color: rgb(0, 255, 136);
    transform: translateY(-5px);
}

/* -------------------------------------------------------------
    App Features section
   -------------------------------------------------------------
*/

section.app-features {
    padding-top: 100px;
    padding-bottom: 100px;
}
h2.app-feature-title {
    margin-bottom: 16px;
}

h2.app-feature-title i, h5.app-feature-title i {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}
h5.app-feature-title {
    font-family: var(--secondary-font);
    font-weight: 700;
    text-align: center;
}


/* -------------------------------------------------------------
    App Features section
   -------------------------------------------------------------
*/

section.theme-jumbo {
    padding: 100px 0;
}

section.theme-jumbo h2 {
    font-weight: 700;
}



/* -------------------------------------------------------------
    Info Block sections
   -------------------------------------------------------------
*/

section.info-block-white, section.info-block-transparent {
    padding: 100px 0;
}

section.info-block-white h2, section.info-block-transparent h2 {
    font-weight: 600;
}



/* -------------------------------------------------------------
    Footer section
   -------------------------------------------------------------
*/

/* .footer {
    padding: 100px 0;
}
 */
.footer .social-media-icon {
    margin: 60px 0;
}
.footer .social-media-icon ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.footer .social-media-icon ul li{
    display: inline-block;
    background: #44475a;
    font-size: 40px;
    border-radius: 8px;
    padding: 30px 40px;
    cursor: pointer;
    transform: scale(0.9);
    transition: all 0.3s ease;
}

.footer .social-media-icon ul li:hover{
    transform: scale(1)
}

.footer .social-media-icon ul li i {
    color: #fff;
}

.footer .copyright p {
    padding-top: 40px;
    margin-bottom: 40px;
    opacity: 1;
    border-top: 1px solid #44475a;
    color: #757575;
}

